<h1>Pirate</h1>
<%= "Name:" + @pirate.name %>
<%= "Weight:" + @pirate.weight %>
<%= "Height:" + @pirate.height %>

<h2>Ships</h2>
<% @ships.each do |ship|%>
    <div> 
        <%= "Name: " + ship.name %>
        <%= "Type: " + ship.type %>
        <%= "Booty: " + ship.booty %>   
    </div>
<% end %>