<h1>Display your Pirate here</h1>
<p>Pirate name: <%=@pirate.name %></p>
<p>Pirate weight: <%=@pirate.weight %></p>
<p>Pirate height: <%=@pirate.height %></p>

<h2>Display your first ship here</h2>
<p>Ship one name: <%=@shipone.name %></p>
<p>Ship one type: <%=@shipone.type %></p>
<p>Ship one booty: <%=@shipone.booty %></p>


<h2>Display your second ship here</h2>
<p>Ship two name: <%=@shiptwo.name %></p>
<p>Ship two type: <%=@shiptwo.type %></p>
<p>Ship two booty: <%=@shiptwo.booty %></p>
